// input#search__input {
//   margin: 0 15px 8px !important;
// }

header {
  position: sticky;
  z-index: 998 !important;
  top: 0;
  background: #fff;
}

.brand-logo {
  color: var(--col-main) !important
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: var(--col-main) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid var(--col-accent) !important;
  box-shadow: 0 1px 0 0 var(--col-main) !important;
}
