* {
  user-select: none;
  --col-main: #263238;
  --col-accent: #c5cae9;
}

header, main, footer {
  margin-left: 300px;
}

.hidden-on-med {
  display: none;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    margin-left: 0;
  }

  .hidden-on-med {
    display: unset;
  }
}
